.header {
    background-color: #d3d3d3;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 12px;
}
.flash-card {
    display: flex;
    align-items: center;
    margin: 20px;
    border: 1px solid #b8b8b8;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.flash-card img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.card-content {
    margin-left: 20px;
}

.card-content h2 {
    font-weight: bold;
    color: #333333;
    font-size: 30px;
}

.card-content p {
    color: #666666;
}
